<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write new chat</title>
</head>
<body>
    <h2>Write new chat</h2>
    <form method="post" action="/chats"> <br><br>
        <input placeholder="who send message" name="from"><br><br>
        <textarea name="message" placeholder="write your message"></textarea><br><br>
        <input placeholder="Receivers name" name="to">
        <button>Create chat</button>
    </form>
</body>
</html>